.img, .img_info, #login_message{
    color: red;
}

.like, .counter, .login, .my_btn{
    display: inline;
}

.comments > table, th{
    border-top: 1px solid #aaa;
    padding: 15px;
    text-align: left;
}

.comments > tr, td:hover{
    background-color: #aaa;
}

.comments > tr, td:nth-child(even){
    background-color: #f2f2f2;
}
