{% extends "base.html" %}
{% block content %}

{% comment %}
<!--<form action="{% url 'login' %}" method="post">-->
<!--action="" so redirect after success login can take place-->
{% endcomment%}

<form action="" method="post">
		{%	csrf_token	%}
        {{ message }}
		{{ form.as_p }}
    <input type="submit" value="Submit"/>

    <input type="button" style="display: inline;"
           onclick="location.href='/';"
           value="Main Page!"/>

    <!--<a href="/login/?login_cancel_url={{ request.path|urlencode }}">-->
</form>
{% endblock %}

