{% extends "base.html" %}
{% block content %}
    <h1 class="img"> {{ title }}!</h1>
    <input type="button"
           onclick="location.href='{% url 'add-photo' %}';"
           value="Add photo"/>
    <table>
        {% for photo in photos %}
        <tr>
            <td class="img"><img src="{{ photo.path }}"/></td>
        </tr>
        <tr>
            <td class="img_info">
                {{ photo.photo_info }}
                <input class="like" type="button" value="Like!"/>
                <p class="counter"></p>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

