{% extends "base.html" %}
{% block content %}
    <h1 class="img"> {{ title }}!</h1>
    <input type="button"
           onclick="location.href='{% url 'add-photo' %}';"
           value="Add photo"/>
    <table>
        {% for photo in photos %}
        <tr>
            <td class="img"><img src="{{ photo.path }}"/></td>
        </tr>
        <tr>
            <td class="img_info">
                {{ photo.photo_info }}
                <form id="{{ photo.id }}" class="like"
                      action="{% url 'main-page' %}" method="get">

		            <!--{%	csrf_token	%}-->
                    <button class="like" type="submit" name="photo_id"
                            value="{{ photo.id }}">Like!</button>
                </form>

                <span class="counter">

                    {% for counter in total_likes %}

                        {% if counter.1 == photo.id %}
                            {{ counter.0 }}
                        {% endif %}

                    {% endfor %}


                    <!--cast photo.id into string-->
                    {% if message.0.1 == photo.id|stringformat:"i" %}
                        {{ message.0.0 }}
                    {% endif %}
                </span>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

