{% extends "base.html" %}
{% block content %}
    <!--logged user from my_cp_1.py-->

    <input type="button" class="my_btn" onclick="location.href='/';"
           value="Main Page"/>
    <h1>Information about photo: {{ photo.id }}</h1>
    <p>
        {{ photo.photo_info }}
    </p>
    <img src="{{ photo.path }} alt="IMG ID:{{ photo.id }}"/>
    <div class="comments">
        <h3>Comment section</h3>
        <table id="photo_comment_table">
            {% for comment in comments %}
                <tr>
                    <th>{{ comment.comment_info }}</th>
                </tr>
                <tr>
                    <td>{{ comment.text }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <h3>Add new comment:</h3>
    <div id="photo_comment_form">
        <form action="{% url 'photo-info' photo_id=photo.id %}"
              method="post">
            {%	csrf_token	%}
            <input type="hidden" name="photo_id" value="{{ photo.id }}">
            <textarea name="text_field" placeholder="Enter comment here.."
                      maxlength="255"></textarea>
            <br>
            <input type="submit" value="Comment!">
        </form>
    </div>
{% endblock %}


