{% extends "base.html" %}
{% block content %}
    <!--logged user from my_cp_1.py-->
    <h1>Information about photo: {{ photo.id }}</h1>
    <p>
        {{ photo.photo_info }}
    </p>
    <img src="{{ photo.path }} alt="IMG ID:{{ photo.id }}"/>
    <div class="comments">
        <h3>Comment section</h3>
        <table>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.comment_info }}</td>
                </tr>
                <tr>
                    <td>{{ comment.text }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="comment_form">



    </div>



{% endblock %}

