{% extends "base.html" %}
{% block content %}
    <!--logged user from my_cp_1.py-->
    <h1>Information about: {{ user.username }}</h1>

    <form class="edit" action="{% url 'user-update' pk=user.id %}"
          method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name:</td>
                <td>
                    <input type="text" name="first_name"
                           value="{{ user.first_name }}">
                </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>
                    <input type="text" name="last_name"
                           value="{{ user.last_name }}">
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="email" name="email"
                           value="{{ user.email }}">
                </td>
            </tr>
        </table>
        <input type="submit" name="submit" value="Change">
    </form>
    <a class="link" href="{% url 'main-page' %}">
        <button type="button">Main Page</button>
    </a>

    <table>
        {% for photo in photos %}
        <tr>
            <td class="img">
                <a class="link" href="{% url 'photo-info' photo_id=photo.id %}">
                    <img src="{{ photo.path }}"
                         alt="IMG ID:{{ photo.id }}"/>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

